* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
.logo {

}
.header-logo {
	max-width: 1180px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	align-items: center;
	margin: 0 auto;
}
h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 48px;
	margin: 0 auto;
}
.header {
	background: blue;
}
.head-line {
	align-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 1180px;
	justify-content: space-between;
	margin: 0 auto;
	display: flex;
}
.head-nav {
}
.head-nav li {
}
.head-nav a {
	font-size: 15px;
	font-weight: 400;
	padding-right: 100px;
}
.head-nav a:hover {
	text-decoration: underline;
}
.donate a {
	background: red;
	font-size: 15px;
	font-weight: 400;
	padding: 5px;
	border-radius: 10px;
}
.donate a:hover {
	font-weight: 700;
}
li {
	list-style: none;
	display: inline;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	animation-timing-function: 2s;
}
.navigation {

}
.nav-on {
	justify-content: center;
	align-items: center;
	max-width: 1180px;
	display: grid;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	margin: 0 auto;
}
.themes {
	justify-content: space-between;
	align-items: center;
	display: grid;
	margin: 0 auto;
}
.line-1 {
	max-width: 900px;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
}
.line-2 {
	max-width: 900px;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
}
.btn {
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 35px;
}
.btn a {
	background: blue;
	font-size: 25px;
	font-weight: 700;
	padding: 12.5px;
	border-radius: 25px;
}
.btn:hover {
}
.footer {
	background: blue;
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
}
.foo-er {
	max-width: 1180px;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 40px;
	min-height: 100%;
}
.foo-nav {
	display: flex;
	justify-content: space-between;
	max-width: 1180px;
}
.foo-nav li a {
	padding: 15px;
}
.all {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
}
p {
	font-weight: 400;
	color: #fff;
	padding: 20px;
	font-size: 15px;
}
